* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{
    background-color: rgba(2, 2, 2, 0.968);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header 
{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    
    border-bottom: 1px solid rgb(46, 46, 46);
    
    p#title 
    {
        color: rgb(0, 255, 38);
        letter-spacing: 0.2rem;
        font-size: 1rem;
    }
    p#subtitle 
    {
        color: rgb(69, 69, 69);
        font-size: 0.78rem;
    }
    hr 
    {
        height: 1rem;
        width: 1px;
        background-color: rgb(46, 46, 46);
        border: none;
    }
}
main 
{
    margin: 1rem;
    
    section#sectionEscolhaMatrizA, section#sectionEscolhaMatrizB
    {
        .titleForm
        {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            p
            {
                color: rgb(0, 255, 38);
                font-size: 0.75rem;
                letter-spacing: 2px;
            }
            hr 
            {
                height: 1px;
                width: 18rem;
                background-color: rgb(46, 46, 46);
                border: none;
            }
        }
        .divSelects
        {
            margin-top: 1rem;
            display: flex;
            gap: 1rem;
            color: rgb(46, 46, 46);
            font-size: 11px;
            align-items: center;
            
            select 
            {
                background-color: rgb(19, 19, 19);
                text-align: center;
                width: 3.2rem;
                height: 1.6rem;
                font-size: 10px;
                color: white;
                border-color: rgb(35, 35, 35);
            }
        }
        form#formMatrizA, form#formMatrizB
        {
            padding: 1rem 0rem 1rem 0rem;
            .divSelects
            {
                display: flex;
                gap: 1rem;
                color: rgb(46, 46, 46);
                font-size: 11px;
                align-items: center;
                
                select 
                {
                    background-color: rgb(19, 19, 19);
                    text-align: center;
                    width: 3.2rem;
                    height: 1.6rem;
                    font-size: 10px;
                    color: white;
                    border-color: rgb(35, 35, 35);
                }
                
                
            }
            #divMatrizA, #divMatrizB
            {
                display: flex;
                flex-direction: column;
                padding: 1rem 0rem 0rem 0rem;
                
                .inputCriarMatriz
                {
                    text-align: center;
                    color: white;
                    margin: 0.5px;
                    width: 3.2rem;
                    height: 2rem;
                    font-size: 12px;
                    border: 1px solid rgb(35, 35, 35);
                    background-color: rgb(13, 13, 13);

                    &::placeholder
                    {
                        color: rgb(82, 82, 82);
                    }

                }
            }
        }
        
        
    }
    #btnMatrizB 
    {
        margin-bottom: 1rem;
        width: 9.8rem;
        letter-spacing: 0.09rem;
        height: 1.7rem;
        font-size: 0.6rem;
        background-color: rgb(13, 13, 13);
        border: 1px solid rgb(35, 35, 35);
        color: rgb(43, 43, 43);
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.03);
            color: rgb(82, 255, 108);
            border-color: rgb(0, 255, 38);
        }
    }
    section#sectionOperacao
    {
        div#divInputEscalar 
        {
            color: rgb(0, 255, 38);
            font-size: 0.8rem;
            letter-spacing: 1px;

            #inputEscalar
            {

                padding: 0.5rem;
                margin-top: 0.5rem;
                width: 10rem;
                letter-spacing: 0.09rem;
                height: 1.7rem;
                font-size: 0.7rem;
                background-color: rgb(13, 13, 13);
                border: 1px solid rgb(35, 35, 35);
                color: rgb(208, 208, 208);
                transition: 0.3s ease;

                &:hover {
                    transform: scale(1.015);
                    border-color: rgb(134, 134, 134);
                }
            }
            hr {
                height: 1px;
                width: 18rem;
                background-color: rgb(46, 46, 46);
                border: none;
            }
            
        }
        .titleOperacao
        {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;
            margin-top: 2rem;

            p
            {
                color: rgb(0, 255, 38);
                font-size: 0.75rem;
                letter-spacing: 2px;
            }
            hr 
            {
                height: 1px;
                width: 18rem;
                background-color: rgb(46, 46, 46);
                border: none;
            }
        }
        #divOperacoes
        {
            display: flex;
            flex-direction: column;
            

            .btnOperacao
            {
                width: 24rem;
                letter-spacing: 0.09rem;
                height: 1.7rem;
                font-size: 0.7rem;
                background-color: rgb(13, 13, 13);
                border: 1px solid rgb(35, 35, 35);
                color: rgb(96, 96, 96);
                transition: 0.3s ease;

                &:hover {
                    transform: scale(1.015);
                    color: rgb(135, 135, 135);
                    border-color: rgb(134, 134, 134);
                }
            }
            .btnOperacaoAtivo {
                transform: scale(1.03);
                color: rgb(82, 255, 108);
                border-color: rgb(0, 255, 38);

                &:hover {
                    transform: scale(1.03);
                    color: rgb(82, 255, 108);
                    border-color: rgb(0, 255, 38);
                }
            }

        }

        #btnCalcularOperacao 
        {
            display: none;
            width: 24rem;
            height: 2rem;
            margin-top: 1rem;
            background-color: rgb(0, 255, 38);
            border: 1px solid rgb(35, 35, 35);
            font-size: 0.8rem;
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.03);
                background-color: rgb(0, 255, 38);
            }

        }
    }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}